<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

   <script>
       $(function(){ $("head").load("../views/head.html") });
   </script>
</head>

<div id="nav-placeholder"></div>
<script>
  $(function(){
    $("#nav-placeholder").load("../views/navbar.html");
  });
</script>
<script src="/views/scripts/API.js"></script>
<script src="/views/scripts/CuartelesVer.js"></script>

<body>

    <div class="container" >

        <div class="row">
            <div class="col">
                <br><h1>Cuarteles</h1><br>
            </div>
            <div class="col">
               <select class="custom-select custom-select-lg mb-3">
                <option selected>Filtro</option>
                <option value="1">Solo Sirecor</option>
                <option value="2">Solo milesight</option>
                <option value="3">Todo</option>
                </select>
            </div>
        </div>

        <div id="main">
        </div>

    </div>

</body>
    
    
