<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

   <script>
       $(function(){ $("head").load("head.html") });
   </script>
</head>

<div id="nav-placeholder"></div>
<script>
  $(function(){
    $("#nav-placeholder").load("navbar.html");
  });
</script>
<script src="scripts/API.js"></script>
<script src="https://smartbox.eco3.cl/views/scripts/CuartelesVer.js"></script>

<body>

    <div class="container" >

        <div class="row">
            <div class="col">
                <br><h1>Cuarteles</h1><br>
            </div>
            <div class="col align-self-center">
               <select class="form-select" id="filtro">
                <option value="indefinidas" selected>Filtro</option>
                <option value="sirecor" >Solo Sirecor</option>
                <option value="milesight" >Solo milesight</option>
                <option value="indefinidas" >Solo milesight</option>
                </select>
            </div>
        </div>

        <div id="main">
        </div>

    </div>

</body>
    
    
